# Hostname configuration
[hostname]
ssh_only = true

[cmd_duration]
min_time = 5_000

# Show DEVELOPER_DIR environment variable
[env_var.DEVELOPER_DIR]
variable = "DEVELOPER_DIR"
format = "via [$env_value]($style) "

[git_branch]
truncation_length = 64

[git_commit]
tag_disabled = false

# Git status - only show ahead/behind
[git_status]
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇡${ahead_count}⇣${behind_count}"
format = '([\[$ahead_behind\]]($style) )'

# Sudo indicator
[sudo]
disabled = false


##### Disable all runtime info #####

[python]
disabled = true

[nodejs]
disabled = true

[golang]
disabled = true

[rust]
disabled = true

[java]
disabled = true

[php]
disabled = true

[ruby]
disabled = true

[kotlin]
disabled = true

[swift]
disabled = true

[c]
disabled = true

[cmake]
disabled = true

[dart]
disabled = true

[deno]
disabled = true

[dotnet]
disabled = true

[elixir]
disabled = true

[elm]
disabled = true

[erlang]
disabled = true

[haskell]
disabled = true

[lua]
disabled = true

[nim]
disabled = true

[ocaml]
disabled = true

[perl]
disabled = true

[purescript]
disabled = true

[rlang]
disabled = true

[red]
disabled = true

[scala]
disabled = true

[solidity]
disabled = true

[terraform]
disabled = true

[vlang]
disabled = true

[zig]
disabled = true
